PG_USER=<user>
PG_PASSWORD=<password>
PG_DB=<db>
PG_HOST=<host>

DATABASE_URL=postgresql://<user>:<password>@<host>:5432/boilerplate?schema=boilerplate
JWT_SECRET=onboard-fragility-filtrate-fidgeting-ranged-trailing-zestfully-aerosol-unicorn-driving-palm-overplant # Replace this, dummy passphrase
JWT_REFRESH_SECRET=slain-city-voucher-starved-alienable-ecologist-squishy-esquire-earthen-accustom-buckshot-jurist # Replace this, dummy passphrase
